node_modules/
.yalc/
yalc.lock
.DS_Store
**/.DS_Store
/dist/*
!dist/browser.js
!dist/browser.js.LICENSE.txt
/coverage/
/@types/
/constants/
/utilities/
/browser.d.ts
/browser.js
/index.d.ts
/index.js
/browser.js.LICENSE.txt