.github-panel {
    border-bottom: 1px solid $gray;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    padding: 15px 20px;
    width: calc(100% + 40px);

    a {
        background-color: transparent;
    }

    @include mobile {
        align-items: center;
        border-bottom: none;
        flex-grow: 1;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        padding: 0 20px;
        width: auto;
    }

}